<% content_for(:html_title) {"All Flowers: "}%>

<div class="columns is-multiline">
    <% @products.each do |f| %>
        <%= render partial: 'product',
                    object: f,
                    locals: { show_link: false } %>
    <% end %>
</div>
<div class="container is-flex is-justify-content-center">
    <%= paginate @products %>
</div>