<% content_for(:html_title) {raw @product.flower_type.type_name} %>
<br>

<p><strong>Description: </strong></p>
<p><%= @product.description %></p>


<a href="/products"><b>Return to all products</b></a>