<nav class="navbar">
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">Home</a>
            <a class="navbar-item" href="/about">About</a>
            <a class="navbar-item" href="/products">All Flowers</a>
            <a class="navbar-item" href="/flower_colours">Flowers by Colour</a>
            <a class="navbar-item" href="/flower_types">Flowers by Type</a>
        </div>
    </div>
</nav>